.contenido {
	margin: auto;
	width: 100%;
  max-width: 900px;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/*CABECERA*/
.titulo{
	float:left;
  text-shadow: 2px 2px 2px #02010a;
  color: white;
  width: 100;
}
.navbar{
	margin: auto;
}
.active {
  text-decoration:none;
}
header{
  background-color: #5b7989;
	border-radius: 10px 10px 0 0;
  font-family: "Dancing Script";
  animation-name: slidein;
  animation-duration: 3s;
  text-align: center;
}

header ul{
  list-style-type: none;
}
header li {
  float: left;
}
header li a {
  color: white;
  text-decoration:underline;
  padding: 5px;
}

/*CUERPO*/
body{
  background-color: #02010a;
	font-family: "Dancing Script";
	color: withe;
	text-align: center;
}
img{
	box-shadow: 2px 2px 2px #02010a;
	display: block;
	margin: auto;
	width: 80%;
}

.central{
	background-color: #82c3a6;
}
.secundarias{
	background-color: #d5c75f;
	display: flex;
	flex-direction: row;
}
#c1{
	padding: 1%;
}
#c2{
	padding: 1%;
	border: 1px;
}
#c3{
	padding: 1%;
	border: 1px;
}
/*PIE DE PAGINA*/
footer{
  background-color: #C6d5c5;
	border-radius: 0 0 10px 10px;
  font-family: "Dancing Script";
  text-align:justify;
}
.pie{
	display: flex;
	flex-direction: row;
	text-align: center;
}
#p1{
	width: 25%;
}
#p2{
	width: 25%;
}
#p3{
	width: 25%;
}
#p4{
	width: 25%;
}

/*ANIMACIONES HOVER*/

#c2 img{
  transform: rotate(0deg);
	transition: transform 1s;
}
#c2 img:hover{
	transform: rotate(10deg);
	box-shadow: 2px 2px 2px #82c3a6;
	border: 2px ;
}
#c3 img{
  transform: translate();
	transition: transform 1s;
}
#c3 img:hover{
	transform: translate(5px,-20px);
	box-shadow: 2px 2px 2px #82c3a6;
	border: 2px ;
}
/*MEDIA QUERIES*/
@media (max-width: 900px) {
  .titulo{
		width: 100%;
		padding: 0px;
  }
  .navbar{
		float: left;
		transform: translateY(-50%);
  }
	.secundarias{
		flex-direction: column;
	}
	.pie{
		flex-direction: column;
	}
	#p1,#p2,#p3,#p4{
		width: 100%;
	}

}
@media (min-width: 900px) {
	.titulo{
		padding: 5px;
	}
  .navbar{
		float: right;
		transform: translateY(250%);
  }
}
/*KEYFRAMES*/
@keyframes slidein{
	0% {
		margin-top: 150%;
	}
	60% {
		margin-top: -5%;
	}
	100% {
		position: relative;
		margin-top: 0%;
	}
}
